* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1cd2a2;
}

.loader-circle {
    height: 9rem;
    width: 9rem;
    border: 1.8rem solid #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    right: 500px;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 2s infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.loader-square{
    height: 6rem;
    width: 6rem;
    border: 0.3rem solid #fff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 500px;
    animation:spinl 3s infinite;
}

@keyframes spinl {
   50%{
    transform: rotate(360deg);
   } 
}
.loader-square:before,
.loader-square:after{
    position: absolute;
    content: "";
    height: 6rem;
    width: 6rem;
    border: 0.3rem solid #ffffff; 
    top: -0.3rem;
    left: -0.3rem;
}

.loader-square:before{
    animation: spinll 3s infinite;
}

@keyframes spinll {
    50%{
        transform: rotate(30deg);
    }
}
.loader-square:after{
    animation: spinlll 3s infinite;
}
@keyframes spinlll{
    50%{
        transform: rotate(60deg);
    }
}